body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.right {
    float:right;
}

form .row {
    margin: 2px 0;
}

.page-header {
padding-bottom: 9px;
margin: 0px 0 20px;
border-bottom: 1px solid #eeeeee
}

.container {
    max-width: 960px;
}

.actionButton,
.actionButton:visited,
.actionButton:active {
    font-family: 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 5px 5px;
    margin: 2px;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
    color: #555;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.actionButton:hover {
    text-decoration: none;
    /*background-color: #448;*/
    border-color: #448;
}

.book {
    border:1px solid #ccc;
    padding: 3px 3px 3px 3px;
    margin:5px 0 5px 0;
}
.titleRow {
    font-size:1.1em;
    font-weight:bold;
    margin-bottom:1px;
    margin-top:1px;
    float: left;
    padding-top: 3px;
    padding-left:3px;
    width:250px;
    clear:both;
}
.summaryRow {
    font-size: 13px;
    color: #555;
    margin-top: 10px;
    margin-left:4px;
    padding-right:26px;
    clear:both;
}
.summaryRow span{
    display:none;
}
.summaryRow:hover{
    /*cursor:pointer;*/
    position:relative;
    z-index:1;
}
.summaryRow:hover span{
    display:block;
    padding:2px;
    background:#ffffe1;
    border:1px solid #000000;
    color:#333;
    z-index:10;
    position:absolute;
    top:1.2em;
    left:5px;
    width:600px;
}
.cornerControls {
    float: right;
    text-align: right;
    /*padding-top: 3px;*/
}
.bottomRow{
    font-size: 9px;
    position: relative;
    clear: both;
    text-align: right;
    margin-left: 4px;
    padding-right: 4px;
}
.legendCtrl{
    position: absolute;
    width: 70px;
    height: 20px;
    display: block;
    line-height: 20px;
    color: #fff;
    margin: 0;
    padding: 0;
    z-index: 2;
    right: 12px;
    top: -5px;
}

#ownfeeds{
}

fieldset {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;
}

legend {
    margin-bottom: 0;
}

#set_frm fieldset{
    padding:20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    margin:15px 0
}

#set_frm legend {
    width:auto;
    padding: 0.2em 0.5em;
    border:1px solid green;
    color:green;
    font-size:80%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 0;
}

.save_btn{
    text-align:center
}
.save_btn .btn{
    padding:5px 10px;
}

#footer{
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
}

.extraInfo{
    color:grey;
    font-size:0.7em;
}

#fs_login{
    padding:20px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    margin:15px 0;
}
#tips{
    color:red;
    font-size:0.8em;
    text-align:center;
}
#login{
    margin:0px auto;
}
#note{
    font-size:0.8em;
    text-align:center;
}