body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.actionButton,
.actionButton:visited,
.actionButton:active {
    font-family: 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 5px 5px;
    margin: 2px;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
    color: #555;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.actionButton:hover {
    text-decoration: none;
    /*background-color: #448;*/
    border-color: #448;
}

.book {
    border:1px solid #ccc;
    //-webkit-border-radius: 9px;
    //-moz-border-radius: 9px;
    //border-radius: 9px;
    padding: 3px 3px 3px 3px;
    margin:5px 0 5px 0;
}
.titleRow {
    font-size:1.1em;
    font-weight:bold;
    margin-bottom:1px;
    margin-top:1px;
    float: left;
    padding-top: 3px;
    padding-left:3px;
    width:250px;
    clear:both;
}
.summaryRow {
    font-size: 13px;
    color: #555;
    margin-top: 10px;
    margin-left:6px;
    padding-right:26px;
    clear:both;
}
.summaryRow span{
    display:none;
}
.summaryRow:hover{
    /*cursor:pointer;*/
    position:relative;
    z-index:1;
}
.summaryRow:hover span{
    display:block;
    padding:2px;
    background:#ffffe1;
    border:1px solid #000000;
    color:#333;
    z-index:10;
    position:absolute;
    top:1.2em;
    left:5px;
    width:600px;
}
.cornerControls {
    float: right;
    text-align: right;
    /*padding-top: 3px;*/
}