{% extends "base.html" %}
{% block menubar %}
<div class="col-md-3">
    <div class="list-group">
        {% if current == "admin" %}
            <a class="list-group-item active" href="/admin">{{_("Admin")}}</a>
        {% else %}
            <a class="list-group-item" href="/admin">{{_("Admin")}}</a>
        {% endif %}
        {% if current == "advsetting" %}
            <a class="list-group-item active" href="/advsetting">{{_("Advance")}}</a>
        {% else %}
            <a class="list-group-item" href="/advsetting">{{_("Advance")}}</a>
        {% endif %}
    </div>
</div>
{% endblock %}
