<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{title}} - Feed2Book</title>
    <meta name="description" content="Feed2Book is a service for Amazon Kindle owners that lets you aggregate feeds you chosen and have them delivered to your Kindle in a convenient, easy-to-navigate format." />
    <link rel="stylesheet" href="/static/base.css" type="text/css" charset="utf-8" />
    <script src="/static/jquery.js" type="text/javascript" ></script>
    <script type="text/javascript">
    </script>
    {% block cssfiles %}{% endblock %}
    {% block css %}{% endblock %}
    {% block jsfiles %}{% endblock %}
    {% block js %}{% endblock %}
</head>
{% block bodytag %}
<body>
{% endblock %}
    <div id="header">
        {% block header %}
        <h1><a href="/">Feed2Book<sup>&#9728;</sup></a></h1>
        <div class="userNav">
            {% if nickname %}
              <a class="nav" href="/logout">{{_("Logout")}}</a>
              <span style="color: #ccc;">&bull;</span>
              <span>Hello,{{nickname}}.&nbsp;<a href="/admin"><strong>{{_("Setting")}}</strong></a></span>
            {% else %}
              <span><a href="/login">{{_("Login")}}</a></span>
            {% endif %}
        </div>
        <div class="clear"></div>
        {% endblock %}
    </div>

    <div id="menubar">
    {% block menubar %}
    {% endblock %}
    </div>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        <div class="clear"></div>
        2013 &copy; Feed2Book&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://github.com/ljlon/Feed2Book" target="_blank" style="text-decoration:none;">Github page</a>
        {% endblock %}
    </div>
</body>
</html>
