{% extends "base-home.html" %}
{% block content %}
{% set hasitem2 = [] %}
{% for book in books %}
<div class="book">
    <div class="titleRow">{{book.title}}</div>
    <div class="cornerControls">
        {% if nickname not in book.users %}
        <a href="/subscribe/{{book.key().id()}}" class="actionButton">{{_("Subscribe")}}</a>
        {% else %}
        <a href="/unsubscribe/{{book.key().id()}}" class="actionButton">{{_("Subscribed")}}</a>
        {% endif %}
    </div>
    <div class="summaryRow">
        {%if book.description|length>80%}{{book.description[:80]}}...<span>{{book.description}}</span>{%else%}{{book.description}}{%endif%}
    </div>
</div>
{% do hasitem2.append(1) %}
{% endfor %}
{% if not hasitem2 %}
<p style="font-size:0.8em;color:grey;">{{_("No have book unsubscrebed")}}</p>
{% endif %}
{% endblock %}