{% extends "base-my.html" %}
{% block content %}
<div class="col-md-9">
    
    <fieldset id="mybooks">
        <legend>{{_("Subscribed")}}</legend>
        <div class="legendCtrl">
            <a href="/" class="actionButton">{{_("Add Content")}}</a>
        </div>
        {% set hasitem = [] %}
        {% for book in books %}
        <div class="book">
            <div class="titleRow">{{book.title}}</div>
            <div class="cornerControls">
                <a href="/unsubscribe/{{book.key().id()}}" class="actionButton">{{_("Unsubscribe")}}</a>
            </div>
            <div class="summaryRow">
                {%if book.description|length>80%}{{book.description[:80]}}...<span>{{book.description}}</span>{%else%}{{book.description}}{%endif%}
            </div>
        </div>
        {% do hasitem.append(1) %}
        {% endfor %}
        {% if not hasitem %}
        <p style="font-size:0.8em;color:grey;">{{_("No have book subscribed")}}</p>
        {% endif %}
    </fieldset>
</div>
{% endblock %}