{% extends "base-my.html" %}
{% block content %}
<div class="col-md-9">
    {% if user and user.expires %}
    <div class="grey">
        {{_("Your account will pause after")}} <strong id="expires">{{ user.expires.strftime("%Y-%m-%d") }}</strong> {{_(", Please login before expire.")}} 
        <a href="/delaccount/{{user.name}}">{{_("Delete Account")}}</a>
    </div>
    {% endif %}
    <form id="set_frm" action="" method="post">
        {% if tips %}
        <p style="text-align:center;"><strong class="error"> {{tips}}</strong></p>
        {% endif %}
        
        <fieldset id="kindle_fieldset">
            <legend>{{_("Base Setting")}}</legend>
            <table border="0">
                <tr>
                    <td style="text-align:right;"><label><em class="required">*</em>{{_("Kindle E-mail")}}</label> : </td>
                    <td><input type="text" name="kindleemail" style="width:280px" value="{% if user and user.kindle_email %}{{ user.kindle_email }}{% endif %}" /></td>
                </tr>
                <tr><td style="text-align:right;"><label>{{_("Time zone")}} : </label></td>
                <td><select class="bool" name="timezone">
                    {% for i in range(-12, 0) %}
                    <option value="{{ i }}" {% if user.timezone|int==i %}selected="selected"{% endif %}>{{ "GMT%d:00" % i }}</option>
                    {% endfor %}
                    <option value="0" {% if user.timezone|int==0 %}selected="selected"{% endif %}>GMT</option>
                    {% for i in range(1, 14) %}
                    <option value="{{ i }}" {% if user.timezone|int==i %}selected="selected"{% endif %}>{{ "GMT+%d:00" % i }}</option>
                    {% endfor %}
                </select></td></tr>
                <tr>
                    <td style="text-align:right;"><label>{{_("Deliver Days")}} : </label></td>
                    <td>
                        <input type="checkbox" name="Monday" {% if not user.send_days or "Monday" in user.send_days %}checked="1"{% endif %} />{{_("Mon")}} &nbsp;</lable>
                        <input type="checkbox" name="Tuesday" {% if not user.send_days or "Tuesday" in user.send_days %}checked="1"{% endif %} />{{_("Tue")}} &nbsp;</lable>
                        <input type="checkbox" name="Wednesday" {% if not user.send_days or "Wednesday" in user.send_days %}checked="1"{% endif %} />{{_("Wed")}} &nbsp;</lable>
                        <input type="checkbox" name="Thursday" {% if not user.send_days or "Thursday" in user.send_days %}checked="1"{% endif %} />{{_("Thu")}} &nbsp;</lable>
                        <input type="checkbox" name="Friday" {% if not user.send_days or "Friday" in user.send_days %}checked="1"{% endif %} />{{_("Fri")}} &nbsp;</lable>
                        <input type="checkbox" name="Saturday" {% if not user.send_days or "Saturday" in user.send_days %}checked="1"{% endif %} />{{_("Sat")}} &nbsp;</lable>
                        <input type="checkbox" name="Sunday" {% if not user.send_days or "Sunday" in user.send_days %}checked="1"{% endif %} />{{_("Sun")}} &nbsp;</lable>
                    </td>
                </tr>
                <tr><td style="text-align:right;"><label>{{_("Deliver time")}} : </label></td>
                <td><select class="bool" name="sendtime">
                    {% for i in range(0, 24) %}
                    <option value="{{ i }}" {% if user.send_time|int == i %}selected="selected"{% endif %}>{{ "%02d:00" % i }}</option>
                    {% endfor %}
                </select></td></tr>
                <tr><td style="text-align:right;"><label>{{_("Book type")}}</label> : </td>
                <td><select class="bool" name="booktype">
                    <option value="mobi" {% if user.book_type != 'epub' %}selected="selected"{% endif %}>mobi</option>
                    <option value="epub" {% if user.book_type == 'epub' %}selected="selected"{% endif %}>epub</option>
                </select></td></tr>
                <tr><td style="text-align:right;"><label>{{_("Title format")}}</label> : </td>
                <td><select class="bool" name="titlefmt">
                    <option value="" {% if not user.titlefmt %}selected="selected"{% endif %}>{{_("Title Only")}}</option>
                    <option value="%Y-%m-%d" {% if user.titlefmt=='%Y-%m-%d' %}selected="selected"{% endif %}>{{_("Title YYYY-MM-DD")}}</option>
                    <option value="%m-%d" {% if user.titlefmt=='%m-%d' %}selected="selected"{% endif %}>{{_("Title MM-DD")}}</option>
                    <option value="%m/%d" {% if user.titlefmt=='%m/%d' %}selected="selected"{% endif %}>{{_("Title MM/DD")}}</option>
                    <option value="%d/%m" {% if user.titlefmt=='%d/%m' %}selected="selected"{% endif %}>{{_("Title DD/MM")}}</option>
                    <option value="%b %d" {% if user.titlefmt=='%b %d' %}selected="selected"{% endif %}>{{_("Title MMM DD")}}</option>
                    <option value="%a, %b %d" {% if user.titlefmt=='%a, %b %d' %}selected="selected"{% endif %}>{{_("Title Day, MMM DD")}}</option>
                </select></td></tr>
            </table>
            <br />
            <p>
                <input type="checkbox" name="enablesend" {% if user and user.enable_send %}checked="1"{% endif %} />
            {{_("Enable deliver")}}
            </p>  
            <p>
                <a id="testlink" href="/deliver?u={{nickname}}">{{_("Deliver now")}}</a>
                <strong id="testmsg" class="error"></strong> {{_("Note: task deliver will be executed after some minutes.")}}
            </p>        
        </fieldset>
        <p class="save_btn">
            <input type="submit" class="actionButton" value="  {{_("Save settings")}}  " />
        </p>
            <p>{{_("Important: Please activate your kindle firstly, and goto")}} <a href="https://www.amazon.com/gp/digital/fiona/manage" rel="external">Manage Your Kindle</a> {{_("Page and add")}} <strong>{{ mail_sender }}</strong> {{_("to 'Your Kindle's approved email list'.")}}
        </p>
    </form>
</div>
{% endblock %}
